In [2]:
!pip3 install mysql

Requirement already satisfied: mysql in /usr/local/lib/python3.7/site-packages (0.0.2)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/site-packages (from mysql) (1.4.6)

In [31]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/site-packages (8.0.18)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/site-packages (from mysql-connector-python) (3.11.2)
Requirement already satisfied: six>=1.9 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.6.0)

In [17]:
import mysql

In [18]:
import mysql.connector as mysql

In [75]:
db = mysql.connect(
    host = "",
    user = "",
    passwd = ""
)

In [76]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x1093fe210>

In [77]:
cursor = db.cursor()

### Создаю базу данных

In [78]:
cursor.execute("CREATE DATABASE experiment")

DatabaseError: 1007 (HY000): Can't create database 'experiment'; database exists

In [79]:
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()
print(databases)

[('datacamp',), ('experiment',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [80]:
db = mysql.connect(
    host = "localhost",
    user = "newuser1",
    passwd = "password123",
    database = "experiment"
)

In [81]:
cursor = db.cursor()

### Табличка "участники"

In [108]:
cursor.execute("CREATE TABLE participants (age TINYINT, sex CHAR(1), education VARCHAR(25))")

In [109]:
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('participants',)

In [159]:
#cursor.execute("DROP TABLE RT_s")

In [49]:
#cursor.execute("CREATE TABLE users (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), user_name VARCHAR(255))")

In [50]:
## 'DESC table_name' is used to get all columns information
#cursor.execute("DESC users")

## it will print all the columns as 'tuples' in a list
#print(cursor.fetchall())

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

In [51]:
## dropping the 'id' column
#cursor.execute("ALTER TABLE users DROP id")

#cursor.execute("DESC users")

#print(cursor.fetchall())

[('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

In [110]:
## adding 'id' column to the 'participants' table
## 'FIRST' keyword in the statement will add a column in the starting of the table
cursor.execute("ALTER TABLE participants ADD COLUMN id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST")

cursor.execute("DESC participants")

print(cursor.fetchall())

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('age', 'tinyint(4)', 'YES', '', None, ''), ('sex', 'char(1)', 'YES', '', None, ''), ('education', 'varchar(25)', 'YES', '', None, '')]

In [111]:
## defining the Query
query = "INSERT INTO participants (age, sex, education) VALUES (%s, %s, %s)"
## storing values in a variable
values = [("21", "f", "linguistics"), 
             ("30", "m", "teacher"),
          ("22", "f", "doctor"),
          ("23", "m", "dancer")
         ]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

4 records inserted

In [171]:
## defining the Query
query = "SELECT * FROM participants"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 21, 'f', 'linguistics')
(2, 30, 'm', 'teacher')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')

### Табличка "стимулы"

In [122]:
cursor.execute("CREATE TABLE stimuli (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, stimulus VARCHAR(255), cond CHAR(1))")

In [126]:
## defining the Query
query = "INSERT INTO stimuli (stimulus, cond) VALUES (%s, %s)"
## storing values in a variable
values = [("Я, как и он, отдыхаю", "a"), 
             ("Я, как и ты, отдыхаю", "b"),
          ("Я, как и он, отдыхает", "c"),
          ("Я, как и ты, отдыхает", "d")
         ]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

4 records inserted

In [ ]:
## defining the Query
query = "UPDATE stimuli SET n_stim = '2' WHERE id = 8"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

In [170]:
## defining the Query
query = "SELECT * FROM stimuli"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'Я, как и он, устаю', 'a', 1)
(2, 'Я, как и ты, устаю', 'b', 1)
(3, 'Я, как и он, устает', 'c', 1)
(4, 'Я, как и ты, устает', 'd', 1)
(5, 'Я, как и он, отдыхаю', 'a', 2)
(6, 'Я, как и ты, отдыхаю', 'b', 2)
(7, 'Я, как и он, отдыхает', 'c', 2)
(8, 'Я, как и ты, отдыхает', 'd', 2)

### Табличка "время чтения"

In [160]:
cursor.execute("CREATE TABLE RT_s (num_particip INT(11), num_stim INT(11), RT FLOAT)")

In [161]:
cursor.execute("DESC RT_s")

print(cursor.fetchall())

[('num_particip', 'int(11)', 'YES', '', None, ''), ('num_stim', 'int(11)', 'YES', '', None, ''), ('RT', 'float', 'YES', '', None, '')]

In [165]:
import random

In [166]:
p = [(1, 21, 'f', 'linguistics'),
     (2, 30, 'm', 'teacher'),
     (3, 22, 'f', 'doctor'),
     (4, 23, 'm', 'dancer')]
s = [(1, 'Я, как и он, устаю', 'a', 1),
     (2, 'Я, как и ты, устаю', 'b', 1),
     (3, 'Я, как и он, устает', 'c', 1),
     (4, 'Я, как и ты, устает', 'd', 1),
     (5, 'Я, как и он, отдыхаю', 'a', 2),
     (6, 'Я, как и ты, отдыхаю', 'b', 2),
     (7, 'Я, как и он, отдыхает', 'c', 2),
     (8, 'Я, как и ты, отдыхает', 'd', 2)]

for_rt = []
for i in p:
    for elem in s:
        a = (i[0], elem[0], random.random())
        for_rt.append(a)

In [167]:
for_rt

[(1, 1, 0.858742163295965),
 (1, 2, 0.3178227919349341),
 (1, 3, 0.8189805066611214),
 (1, 4, 0.004063241537969553),
 (1, 5, 0.7305020685216835),
 (1, 6, 0.14160651317445982),
 (1, 7, 0.7633255003268515),
 (1, 8, 0.9311322157181775),
 (2, 1, 0.8796694764932586),
 (2, 2, 0.9228903340459277),
 (2, 3, 0.8533234450621497),
 (2, 4, 0.054168089318853196),
 (2, 5, 0.14110472694323362),
 (2, 6, 0.7382744756092846),
 (2, 7, 0.1878934917176046),
 (2, 8, 0.1168425452883518),
 (3, 1, 0.053593866280658764),
 (3, 2, 0.3389021570726616),
 (3, 3, 0.7571492558798502),
 (3, 4, 0.24448335048169312),
 (3, 5, 0.9075321743613469),
 (3, 6, 0.43425598132174015),
 (3, 7, 0.5293814319120657),
 (3, 8, 0.4250908751861169),
 (4, 1, 0.48441047891644873),
 (4, 2, 0.541199251460287),
 (4, 3, 0.31956345990942203),
 (4, 4, 0.4110248572541636),
 (4, 5, 0.2703896578067555),
 (4, 6, 0.35754868868518086),
 (4, 7, 0.193992298698067),
 (4, 8, 0.4219166183039774)]

In [168]:
query = "INSERT INTO RT_s (num_particip, num_stim, RT) VALUES (%s, %s, %s)"
cursor.executemany(query, for_rt)
db.commit()

print(cursor.rowcount, "records inserted")

32 records inserted

In [172]:
## defining the Query
query = "SELECT * FROM RT_s"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 1, 0.858742)
(1, 2, 0.317823)
(1, 3, 0.818981)
(1, 4, 0.00406324)
(1, 5, 0.730502)
(1, 6, 0.141607)
(1, 7, 0.763326)
(1, 8, 0.931132)
(2, 1, 0.879669)
(2, 2, 0.92289)
(2, 3, 0.853323)
(2, 4, 0.0541681)
(2, 5, 0.141105)
(2, 6, 0.738274)
(2, 7, 0.187893)
(2, 8, 0.116843)
(3, 1, 0.0535939)
(3, 2, 0.338902)
(3, 3, 0.757149)
(3, 4, 0.244483)
(3, 5, 0.907532)
(3, 6, 0.434256)
(3, 7, 0.529381)
(3, 8, 0.425091)
(4, 1, 0.48441)
(4, 2, 0.541199)
(4, 3, 0.319563)
(4, 4, 0.411025)
(4, 5, 0.27039)
(4, 6, 0.357549)
(4, 7, 0.193992)
(4, 8, 0.421917)

### Функция для ввода данных

In [228]:
def input_data():
    table = input('Введите название таблички: ')
    
    columns = input('Введите названия колонок через запятую: ')
    columns = columns.split(',')
    columns = str(tuple([str(x) for x in columns]))
    
    data = input('Введите новые данные через запятую: ')
    data = data.split(',')
    el = tuple([str(e) for e in data])
    #el = ('23', 'f')
    
    query = 'INSERT INTO %s %s' % (table, columns.replace("'", ''))
    values_query = 'VALUES (' + ('%s, ' * len(data))[:-2] + ')'
    query_stmt = ' '.join([query, values_query])

    #print(columns, query_stmt, data, type(data), len(data))
    cursor.execute(query_stmt, el)

In [229]:
input_data()

Введите название таблички: participants
Введите названия колонок через запятую: sex, age
Введите новые данные через запятую: f, 23
('sex', ' age') INSERT INTO participants (sex,  age) VALUES (%s, %s) ['f', ' 23'] <class 'list'> 2

In [253]:
## defining the Query
query = "SELECT * FROM participants"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 21, 'f', 'linguistics')
(2, 30, 'm', 'teacher')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')
(6, 33, 'f', 'killer')

### Функция для модификации данных

In [262]:
def modificate_data():
    table = input('Введите название таблички: ')
    
    column_to_change = input('Введите название колонки, которую хотите поменять: ')
    value_to_insert = str(input('Введите значение, которое хотите вставить: '))
    value_to_insert = "'" + value_to_insert + "'"
    
    column_condition = input('Введите название колонки для условия: ')
    value_condition = str(input('Введите значение для условия: '))
    value_condition = "'" + value_condition + "'"
    
    print(table, column_to_change, value_to_insert, column_condition, value_condition)
    
    query = 'UPDATE %s SET %s = %s WHERE %s = %s' % (table, column_to_change, value_to_insert, column_condition, value_condition)
    cursor.execute(query)
    db.commit()

In [252]:
modificate_data()

Введите название таблички: participants
Введите название колонки, которую хотите поменять: education
Введите значение, которое хотите вставить: killer
Введите название колонки для условия: id
Введите значение для условия: 6
participants education 'killer' id '6'

In [254]:
query = "SELECT * FROM participants"

cursor.execute(query)

records = cursor.fetchall()

for record in records:
    print(record)

(1, 21, 'f', 'linguistics')
(2, 30, 'm', 'teacher')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')
(6, 33, 'f', 'killer')

### Функция для удаления данных

In [261]:
def delete_data():
    table = input('Введите название таблички: ')
    
    column_condition = input('Введите название колонки для условия: ')
    value_condition = str(input('Введите значение для условия: '))
    value_condition = "'" + value_condition + "'"
    
    query = 'DELETE FROM %s WHERE %s = %s' % (table, column_condition, value_condition)
    
    cursor.execute(query)
    db.commit()

In [259]:
delete_data()

Введите название таблички: participants
Введите название колонки для условия: id
Введите значение для условия: 6

In [260]:
query = "SELECT * FROM participants"

cursor.execute(query)

records = cursor.fetchall()

for record in records:
    print(record)

(1, 21, 'f', 'linguistics')
(2, 30, 'm', 'teacher')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')

### Функция для выборки данных

In [278]:
def select_from_column():
    table = input('Введите название таблички: ')
    columns = input('Введите названия колонок через запятую (или * для вывода всей таблицы): ')
    
    query = "SELECT %s FROM %s" % (columns, table)
    
    cursor.execute(query)
    records = cursor.fetchall()

    for record in records:
        print(record)

In [281]:
select_from_column()

Введите название таблички: participants
Введите названия колонок через запятую: *
(1, 21, 'f', 'linguistics')
(2, 30, 'm', 'teacher')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')

In [282]:
def select_all_with_cond():
    table = input('Введите название таблички: ')
    
    columns = input('Введите названия колонок через запятую (или * для вывода всех колонок): ')
    
    column_condition = input('Введите название колонки для условия: ')
    value_condition = str(input('Введите значение для условия: '))
    value_condition = "'" + value_condition + "'"
    
    query = "SELECT %s FROM %s WHERE %s = %s" % (columns, table, column_condition, value_condition)
    
    cursor.execute(query)
    records = cursor.fetchall()

    for record in records:
        print(record)

In [284]:
select_all_with_cond()

Введите название таблички: participants
Введите названия колонок через запятую (или * для вывода всех колонок): age, education
Введите название колонки для условия: id
Введите значение для условия: 2
(30, 'teacher')

### SELECT с тремя таблицами в условии выборки

In [286]:
query = '''SELECT participants.age, RT_S.RT, stimuli.cond 
            FROM participants, RT_s, stimuli 
            WHERE participants.id = RT_s.num_particip 
            AND RT_s.num_stim = stimuli.id 
            AND stimuli.cond = 'a' '''
cursor.execute(query)
records = cursor.fetchall()

for record in records:
    print(record)

(21, 0.858742, 'a')
(21, 0.730502, 'a')
(30, 0.879669, 'a')
(30, 0.141105, 'a')
(22, 0.0535939, 'a')
(22, 0.907532, 'a')
(23, 0.48441, 'a')
(23, 0.27039, 'a')

### Вложенные SELECT

In [292]:
query = '''SELECT participants.age FROM participants 
            WHERE participants.id IN 
            (SELECT RT_s.num_particip FROM RT_s, stimuli 
            WHERE RT_s.num_stim = stimuli.id AND stimuli.n_stim = 2 
            AND RT_s.RT > 0.8)'''
cursor.execute(query)
records = cursor.fetchall()

for record in records:
    print(record)

(21,)
(22,)

### Запросы с JOIN

In [293]:
query = '''SELECT * FROM RT_s JOIN stimuli 
            ON RT_s.num_stim = stimuli.id'''

cursor.execute(query)
records = cursor.fetchall()

for record in records:
    print(record)

(1, 1, 0.858742, 1, 'Я, как и он, устаю', 'a', 1)
(1, 2, 0.317823, 2, 'Я, как и ты, устаю', 'b', 1)
(1, 3, 0.818981, 3, 'Я, как и он, устает', 'c', 1)
(1, 4, 0.00406324, 4, 'Я, как и ты, устает', 'd', 1)
(1, 5, 0.730502, 5, 'Я, как и он, отдыхаю', 'a', 2)
(1, 6, 0.141607, 6, 'Я, как и ты, отдыхаю', 'b', 2)
(1, 7, 0.763326, 7, 'Я, как и он, отдыхает', 'c', 2)
(1, 8, 0.931132, 8, 'Я, как и ты, отдыхает', 'd', 2)
(2, 1, 0.879669, 1, 'Я, как и он, устаю', 'a', 1)
(2, 2, 0.92289, 2, 'Я, как и ты, устаю', 'b', 1)
(2, 3, 0.853323, 3, 'Я, как и он, устает', 'c', 1)
(2, 4, 0.0541681, 4, 'Я, как и ты, устает', 'd', 1)
(2, 5, 0.141105, 5, 'Я, как и он, отдыхаю', 'a', 2)
(2, 6, 0.738274, 6, 'Я, как и ты, отдыхаю', 'b', 2)
(2, 7, 0.187893, 7, 'Я, как и он, отдыхает', 'c', 2)
(2, 8, 0.116843, 8, 'Я, как и ты, отдыхает', 'd', 2)
(3, 1, 0.0535939, 1, 'Я, как и он, устаю', 'a', 1)
(3, 2, 0.338902, 2, 'Я, как и ты, устаю', 'b', 1)
(3, 3, 0.757149, 3, 'Я, как и он, устает', 'c', 1)
(3, 4, 0.244483, 4, 'Я, как и ты, устает', 'd', 1)
(3, 5, 0.907532, 5, 'Я, как и он, отдыхаю', 'a', 2)
(3, 6, 0.434256, 6, 'Я, как и ты, отдыхаю', 'b', 2)
(3, 7, 0.529381, 7, 'Я, как и он, отдыхает', 'c', 2)
(3, 8, 0.425091, 8, 'Я, как и ты, отдыхает', 'd', 2)
(4, 1, 0.48441, 1, 'Я, как и он, устаю', 'a', 1)
(4, 2, 0.541199, 2, 'Я, как и ты, устаю', 'b', 1)
(4, 3, 0.319563, 3, 'Я, как и он, устает', 'c', 1)
(4, 4, 0.411025, 4, 'Я, как и ты, устает', 'd', 1)
(4, 5, 0.27039, 5, 'Я, как и он, отдыхаю', 'a', 2)
(4, 6, 0.357549, 6, 'Я, как и ты, отдыхаю', 'b', 2)
(4, 7, 0.193992, 7, 'Я, как и он, отдыхает', 'c', 2)
(4, 8, 0.421917, 8, 'Я, как и ты, отдыхает', 'd', 2)

Еще всякие штуки:

In [117]:
## defining the Query
query = "SELECT * FROM participants ORDER BY age"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 21, 'f', 'linguistics')
(3, 22, 'f', 'doctor')
(4, 23, 'm', 'dancer')
(2, 30, 'm', 'teacher')

In [119]:
## defining the Query
query = "SELECT * FROM participants ORDER BY age DESC"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(2, 30, 'm', 'teacher')
(4, 23, 'm', 'dancer')
(3, 22, 'f', 'doctor')
(1, 21, 'f', 'linguistics')